body {
    // background: url('../images/bg.jpg') no-repeat;
    background-size: cover;
}
.notfound {
    margin-top: 200px;
    background: blue;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}