@import '_reset.scss';
.clear {
    clear: both;
}
.sys-message {
	margin: 20px 40px;
}
.footer {
    text-align: center;
    margin-top: 20px;
    a {
        margin-right: 20px;
    }
}