@import '_reset.scss';
.navbar {
   margin-bottom: 0;
}
.loginSection {
    background-image: url('../images/bg.jpg');
    height: 554px;
    .login-panel {
        margin-top: 120px;
        margin-bottom: 120px;
    }
    .reg-panel {
        margin-top: 90px;
        margin-bottom: 90px;
    }
}
.article {
    margin-top: 20px;
}