extends layout
block content
  link(rel='stylesheet', href='/stylesheets/article.css')
  link(rel='stylesheet', href='/stylesheets/404.css')
  .content.col-md-10.col-md-offset-1
    p.notfound 你来到了没有知识的荒原。