extends layout

block content     
  link(rel='stylesheet', href='/stylesheets/login.css')
  form.col-md-10.col-md-offset-1(method="post").article
    .form-group
      label(for="article-title") 文章标题:
      input.form-control(type="text", name="title")
    .form-group
      label(for="article-title") 文章标签:
      br
      input.col-md-4(type="text", name="tag1")
      input.col-md-4(type="text", name="tag2")
      input.col-md-4(type="text", name="tag3")
    .form-group
      label(for="article-content") 文章内容:
      textarea.form-control(rows="19", name="post") 
    .form-group.pull-right
      input.btn.btn-primary(type="submit" value="发表")

