extends layout

block content     
    link(rel='stylesheet', href='/stylesheets/login.css')
    - if (success)
      p.bg-success #{success}
    - else 
      p.bg-danger #{error}
    section.col-md-12.loginSection
      section.col-md-4.col-md-offset-7.reg-panel
        .panel.panel-default
          .panel-heading 用户注册              
          .panel-body
            form(method='post')
              .form-group
                label(for='username') 用户名                        
                input#username.form-control(type='text', name='username')                            
                p.help-block 你的账户名称，用户登录和提示                
              .form-group
                label(for='password') 密码
                input#password.form-control(type='password', name='password')                
              .form-group
                label(for='password-repeat') 确认密码                        
                input#password.form-control(type='password', name='password-repeat')                             
              button.btn.btn-primary(type='submit') 注册
