extends layout

block content
  section.col-md-4.loginSection
      .panel.panel-default
        .panel-heading 用户注册              
        .panel-body
          form(method='post', action='/upload', enctype='multipart/form-data')
            .form-group
              label(for='username') 上传文件                        
              input.form-control(type='file', multiple name='field1')                                          
            button.btn.btn-primary(type='submit') 上传
    